
.aboutPage{
    // background:rgb(3, 3, 90);
    background:$darkBlue;

    &__container{
        padding-top: 1rem;
        padding-bottom: 1rem;

        &--row h1{
            color:$light;
        }
    }

   
}