@import 'colors';
@import 'media-queries';

%align-center{
    display: flex;
    align-items: center;
}

.navbar{
//   background:$light;
background:$green;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;

// &__logo{
//     color:$dark;
//     cursor:pointer;
//     text-decoration: none;
//     font-size:2rem;
//     margin-left: 24px;
//     @extend %align-center;

// }
&__bars{
    opacity:0;
    @include tablet{
        color:$dark;
        opacity:1;
        position:absolute;
        top:22px;
        right:20px;
        font-size:2rem;
    }

}
&__menu{
    @extend %align-center;
    justify-content: center;
    margin: auto;
    @include tablet{
        display: none;
    }

&--links{
    font-weight: 100;
    letter-spacing: 0.2em;
    color:darkorange;
    text-decoration:none;
    // margin-right: 24px;
    padding: 0 1rem;
    @extend %align-center;
    justify-content: center;

    &:hover{
        color:$blue;
        transition: all 0.3s ease;
    }
}


}



}